{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title calculation.name %}

{% block main %}
    <div class="container-fluid">
    <h1>{{ calculation.name }}</h1>

    <h2>{{ 'Calculator'|trans }}</h2>

    <pre>{{ calculation.calculator }}</pre>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Value'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for name, value in calculation.calculatorSettings %}
                <tr>
                    <td>{{ name }}</td>
                    <td>
                        {% if value is iterable %}
                            <pre>{{ value|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                        {% else %}
                            {{ value }}
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{{ 'Formulas'|trans }}</h2>

    {% for item in formulas %}
        {% set calculation = item[1] %}

        <table class="table" style="max-width: 100%">
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ calculation.name }}</td>
            </tr>

            <tr>
                <th>{{ 'Description'|trans }}</th>
                <td>{{ calculation.description }}</td>
            </tr>

            <tr>
                <th>{{ 'Overenskomsttekst'|trans }}</th>
                <td>{{ calculation.overenskomsttekst|nl2br }}</td>
            </tr>

            <tr>
                <th>{{ 'Excel formula'|trans }}</th>
                <td><pre><code style="overflow-wrap: break-word">{{ calculation.excelFormula }}</code></pre></td>
            </tr>

            <tr>
                <th>{{ 'Formula'|trans }}</th>
                <td>\[{{ calculation.formula }}\]</td>
            </tr>
        </table>
    {% endfor %}
    </div>
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calculate') }}
{% endblock %}

{% block head_javascript %}
    {{ parent() }}
<script>
MathJax = {
  loader: {
        load: ['input/tex', 'output/chtml']
    },
  tex: {
    packages: ['base', 'require']
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/startup.js">
</script>

{#
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
#}
{% endblock %}

{#
{% block body_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('calculate') }}
{% endblock %}
#}
